<div id="comments">
	<div id="hyvor-talk-view"></div>
	<script type="text/javascript">
		var HYVOR_TALK_WEBSITE = 1586; // DO NOT CHANGE THIS
		var HYVOR_TALK_CONFIG = {
			url: "{{url absolute="true"}}",
			id: "ghost-{{comment_id}}"
		};
	</script>
	<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
</div>
